#concession-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

#menu-block {
    width: 50%;
    min-width: 205px;
    padding: 0 10px 0 0;
}

#menu-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-block ul li {
    margin: 0 0 15px 0;
}

#cart-block {
    width: 50%;
    padding: 0 0 0 10px;
}

#cart-table th.cart-table-remove {
    min-width: 50px;
}

#cart-table th.cart-table-items {
    min-width: 110px;
}

#cart-table th.cart-table-price {
    min-width: 80px;
}

#cart-table th.cart-table-quantity {
    min-width: 60px;
}

#cart-table th.cart-table-total {
    min-width: 90px;
}

