<section>
    <header>
        <h2>Cart</h2>
    </header>
    <table id="cart-table" class="table table-striped">
        <thead>
            <tr>
                <th class="cart-table-remove"></th>
                <th class="cart-table-items">Item</th>
                <th class="cart-table-price text-right">Price</th>
                <th class="cart-table-quantity text-center">Qty</th>
                <th class="cart-table-total text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.cartItems">
                <td><span class="glyphicon glyphicon-remove" ng-click="$ctrl.onRemoveCartItem({'item':item})"></span></td>
                <td>{{item.name}}</td>
                <td class="text-right">{{item.price | currency}}</td>
                <td class="text-center">{{item.quantity}}</td>
                <td class="text-right">{{item.total | currency}}</td>
            </tr>
        </tbody>
        <tfoot ng-show="$ctrl.calculateCartTotal() > 0">
            <tr>
                <td colspan="4" class="text-right"><strong>Total:</strong></td>
                <td class="text-right"><strong>{{$ctrl.calculateCartTotal() | currency}}</strong></td>
            </tr>
            <tr>
                <td colspan="5"><button type="button" class="btn btn-block btn-small btn-primary" ng-click="$ctrl.onCartCheckout()">Checkout</button></td>
            </tr>
        </tfoot>
    </table>
</section>