<section>
    <header>
        <h2>Menu</h2>
    </header>
<ul>
    <li ng-repeat="item in $ctrl.menu.items"><button type="button" class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.onSelectMenuItem({'item':item})">{{item.name}} {{item.price|currency}}</button></li>
</ul>
</section>
<button type="button" ng-click="$ctrl.menu.loadMenu()" class="btn btn-block btn-xs btn-default">Reload</button>