<div id="concession-block">
    <div id="menu-block"><menu on-select-menu-item="$ctrl.addItemToCart(item)"></menu></div>
    <div id="cart-block"><cart on-remove-cart-item="$ctrl.removeItemFromCart(item)" on-cart-checkout="$ctrl.clearCartItems()" cart-items="$ctrl.cartItems"></cart></div>
</div>